@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
.hover\:text-custom-color:hover {
  color: #ffc100;
}
.bg-custom-color {
  background-color: #dbafa0;
}
